<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Show only SQL queries -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <!-- Hide other Hibernate internal logs -->
    <logger name="org.hibernate" level="WARN"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>